<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = 'http://www.w3.org/ns/widgets'
	xmlns:gap = 'http://phonegap.com/ns/1.0'
        id = "com.cerivan.rb"
        version = "1.0">
	
	<name>Shiseido</name>

	<description>
		Appli photo 
	</description>

	<author href="http://www.cerivan.com" email="mail@cerivan.com">
		Cerivan
	</author>
    
	<icon src="media/img/icon.png" width="48" height="34"/>
    
	<preference name="permissions" value="none"/>
	<preference name="AndroidPersistentFileLocation" value="Internal" />

<preference name="AndroidPersistentFileLocation" value="Compatibility" />

	<!-- to enable individual permissions use the following examples -->
	
	<feature name="http://api.phonegap.com/1.0/camera"/>	
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/storage"/>
	
<feature name="File">
       <param name="android-package" value="org.apache.cordova.file.FileUtils" />
</feature>
<feature name="FileTransfer">
      <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
</feature>
<feature name="Storage">
       <param value="org.apache.cordova.Storage" name="android-package"/>
</feature>
	<feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
</feature>
 <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
 </feature>
	
	<feature name="Camera">
		 <param name="ios-package" value="CDVCamera" />
    	</feature>
	
	
	<preference name="load-url-timeout" value="30000" />

	<gap:splash src="media/img/splash.png" />

	<gap:plugin name="org.apache.cordova.core.console" /> 	
	<gap:plugin name="org.apache.cordova.core.device" />
	<gap:plugin name="org.apache.cordova.core.dialogs" /> 
	<gap:plugin name="org.apache.cordova.core.network-information" /> 
	<gap:plugin name="org.apache.cordova.camera" />
    
	
	<gap:plugin name="org.apache.cordova.core.file" />
	<gap:plugin name="org.apache.cordova.core.file-transfer" />
	
	
	
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />

	<access origin="*" />


</widget>
