@media (max-width: 640px) {
    * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        width: auto;
        margin: 0;
        padding: 0;
    }
	
	.titre {
		background-image: url("../../media/img/shi.png");
		background-repeat: no-repeat;
		background-size: 124px 20px;
		background-position: center center;
		background-color: #9E1B34;		
		height: 70px;
	}
	.logo {
		background-image: url("../../media/img/beau.png");
		background-size: 384px 320px;
		background-repeat: no-repeat;
		background-position: center center;
		height: 300px;
	}
	
	.envoyer, .retrouver, .profil {
		font-family: "Times New Roman", Georgia, Serif;
		background-color: #f0ede8;
		border: 1px solid #a1a1a1;
		line-height:80px;
		font-size: 22px;
		padding-left:20px;		
		height: 80px;
		color:#858989;
		
	}
	.bouton span{
		float: right;
		padding-right:10px;
		font-size: 35px;
		}
	.envoyer:hover, .retrouver:hover, .profil:hover {
		
		background-color: #9E1B34;
		border: 1px solid #a1a1a1;
		line-height:80px;
		font-size: 22px;
		padding-left:20px;		
		height: 80px;
	}
	#message {
		font-family: "Times New Roman", Georgia, Serif;
		background-color: #f0ede8;
		font-size: 16px;
		color:#858989;
		text-align:center;
		padding-top:20px;
		
	}
